html {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: #3B240B;
    background-image: url('library.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

select {
    width: 80%;
    height: 50px;
    padding: .2em .1em;
    border: 1px solid #999;
    font-family: sans-serif;
    font-size: 3em;
    float: center;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

div#map {
    margin: 5px;
    height: 400px;
}

.title {
    color: white; /* 텍스트 색상을 하얀색으로 설정 */
    text-align: center; /* 텍스트를 중앙으로 정렬 */
    margin: 20px 0; /* 상하 여백 추가 */
    font-size: 2rem; /* 글자 크기 설정 */
}
